.header__lang-link {
  list-style-type: none;
  font-size: 24px;
  text-decoration: none;
  color: inherit;
  transition: all linear 0.3s;
  margin-bottom: 6px;
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link:not(:last-child) {
  margin-right: 18px;
}


@media screen and (max-width: 1024px) {
  .header__lang-link {
    margin-right: 13px;
    }
  }

  @media screen and (max-width: 768px) {
    
  .header__lang-link:not(:last-child) {
    margin-right: 13px;
    }
  }

/* может быть поменять */
@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }

  .header__lang-link:not(:last-child) {
    margin-right: 18px;
    }
  }
}