.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .place__title {
    font-size: calc(0.12 * 100vw - 52px);
    line-height: calc(0.12 * 100vw - 55px);
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: calc(0.02 * 100vw + 28px);
    line-height: calc(0.024 * 100vw + 27px);
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px;
  }
}