.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 0 48px 92px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {

  .photo-grid {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 24px 88px;
  }
}

@media screen and (max-width: 625px) {
  .photo-grid {
      grid-template-columns: 1fr;
      margin: 0 16px 64px;
  }
}