.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 92.5%;
  min-height: 52px;
  margin: 0 auto;
  padding-top: 30px;
}


@media screen and (max-width: 1024px) {
  .header {
    width: 93%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 96%;
  }
}

/* может быть поменять */
@media screen and (max-width: 320px) {
  .header {
    width: 94%;
    padding-top: 16px;
    margin: 0 16px;
    min-height: 42px;
  }
}