.cover {
  position: relative;
  width: 92.5%;
  min-height: 740px;
  margin: 0 48px;
  background-image: url(../../images/cover/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

@media screen and (max-width: 1280px) {
  .cover {
    min-height: calc(0.58 * 100vw);
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: calc(0.625 * 100vw);
    margin: 0;
  }
}

