.place__link {
  align-self: flex-start;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  margin: 0;
  transition: all linear 0.3s;
}

.place__link:hover {
  opacity: 0.8;
}