.footer__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 625px) {
  .footer__list {
      flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer__list {
    margin-left: 5px;
  }
}