.intro__title {
  max-width: 750px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0 0 40px 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: calc(0.049 * 100vw + 16.28px);
    line-height: calc(0.051 * 100vw + 18.57px);
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}